<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar-inverse'>
      <ul>
        <li><%= link_to  'Page One', root_path %></li>
        <li><%= link_to  'Page Two', pages_two_path %></li>
        <li><%= link_to  'Page Three', pages_three_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
